---
import { AiFillInstagram } from "react-icons/ai";
import { FaFacebookSquare } from "react-icons/fa"
// import { FaSoundcloud } from "react-icons/fa";
import { ImSoundcloud2 } from "react-icons/im";
import { FaSpotify } from "react-icons/fa";
// Componente de redes sociales
---

<div class="flex gap-4 lg:gap-3 justify-center items-center">
  <!-- Facebook -->
  <a href="https://www.facebook.com/fernandocardonatoro" target="_blank" class="text-white  hover:text-gray-900 hover:scale-125  transition-all duration-300 ease-in-out" aria-label="Facebook">
     <FaFacebookSquare size={22} />
  </a>

  <!-- Instagram -->
  <a href="https://www.instagram.com/mrchiloveyou/" target="_blank" class="text-white hover:text-gray-900 hover:scale-125 transition-all duration-300 ease-in-out" aria-label="Instagram">
    <AiFillInstagram size={24} />
  </a>

  <!-- SoundCloud -->
  <a href="#" target="_blank" class="text-white hover:text-gray-900 hover:scale-125 transition-all duration-300 ease-in-out" aria-label="SoundCloud">
    <ImSoundcloud2 size={19} />
  </a>

  <!-- Spotify -->
  <a href="#" target="_blank" class="text-white hover:scale-125 hover:text-gray-900 transition-all duration-300 ease-in-out" aria-label="Spotify">
    <FaSpotify size={19} />
  </a>
</div>