---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="404 - Radiochi">
  <main class="min-h-screen flex items-center justify-center bg-black text-white px-0">
    <div class="relative w-full h-[50vh] flex flex-col items-center justify-center" style="background-image: url('/OG.png'); background-size: cover; background-position: center;">
      <h1 class="text-white text-7xl sm:text-8xl font-extrabold drop-shadow-lg">404 not found</h1>
      <a href="/ca/" class="inline-block mt-4 px-6 py-3 bg-red-600 hover:bg-red-700 transition-colors rounded text-white">Torna a l'inici</a>
    </div>
  </main>
</Layout>